<!--<header class="navbar nabvar-expand navbar-light navbar-fixed-top" style="background-color: #e3f2fd;">-->
<header class="navbar nabvar-expand navbar-dark navbar-fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <%= link_to "pomodoro worker", root_path, id: "logo", class: "navbar-brand" %>
      <ul class="navbar-nav ml-auto">
        <!-- 共通 -->
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Work", work_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path, class: "nav-link" %>
        </li>
        <!-- ログイン時 -->
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "Users", '#', class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Account
            </a>
            <div class="dropdown-menu">
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <%= link_to "Settings", '#', class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
          </li>
        <!-- ログアウト時 -->
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>